.amount_promotion{
    width:30% !important;
}

.pagination > li > a,
.pagination > li > span {
    color: #D63090; // use your own color here
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #D63090;
    border-color: #D63090;
}

.pagination {
    margin: 20px 15px auto;
}

.ui-autocomplete {
    z-index:600 !important;
}

.modal-dialog {
    margin-top: 10% !important;
}

.close{
    font-weight: bold;
    opacity:2.2;
    color: #D63090;
}

.modal-content-width{

    /*background: none;*/
    width: 66%;
}

.alert-danger {
    color: #D63090;
    font-size: 14px;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.error{
    color: red;
}